[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "fonts/ubuntu-mono-powerline-ttf"]
	path = fonts/ubuntu-mono-powerline-ttf
	url = https://github.com/pdf/ubuntu-mono-powerline-ttf.git
